./mitbih
./ptb-xl
./PBTXL
./MITDB
./experiments_logs
./venv
./__pycache__
./NewModel.egg-info
./NewModel.egg-info
mitbih 
ptb-xl
PBTXL
MITDB
experiments_logs
venv
__pycache__
NewModel.egg-info
NewModel.egg-info

PTBXL